<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

  <!-- GitHub markdown-style CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.5.1/github-markdown.min.css">

  <style>
    body {
      padding: 2rem;
      background-color: #fff;
      font-family: system-ui;
    }

    .markdown-body {
      max-width: 960px;
      margin: auto;
    }
  </style>

  <!-- Google Analytics GA4 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DHE1PH854B"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-DHE1PH854B');
  </script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4046615879480582"
     crossorigin="anonymous"></script>  
  <script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script>
</head>
<body>
  <amp-auto-ads type="adsense"
        data-ad-client="ca-pub-4046615879480582">
</amp-auto-ads>
  <article class="markdown-body">
    {{ content }}
  </article>
</body>
</html>
